body{
    background-color: transparent;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/132/777/256/vacation-costa-adeje-gran-hotel-best-hotels-of-2017-resort-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center;
}

h1,h3{
    text-align: center;
}
#Confirmation{
    color: rgb(193, 20, 20);
}

h1{
    color: blue;
}

h3{
    color: rgb(193, 20, 20);
}

header {
    background-color: aqua;
    width: 50%;
    margin: 0 auto; 
    text-align: center; 
}

.table1 {
    width: 30%; 
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(188, 146, 188);
    margin: 5% ; 
    margin-right: 20px;
    float: left; 

}
 th,td {
    padding: 20px; 
    border:1px solid black;
    
    text-align: center;
}

.fr{
    color: rgb(150, 18, 18);
    font-weight: bold;
}

input[type="date"],
input[type="text"] {
    width: calc(100% - 22px);
    padding: 5px;
    margin: 0;
}

input[type="date"]{
    background-color: rgb(100, 206, 100);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
button[type="button"]{
    background-color: violet;
    border-radius: 15px;
    border: 5px solid black;
}
button[type="submit"]{
    width: 70%;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.table2 {
    width: 30%; 
    background-color: rgb(135, 135, 255);
    margin: 5% auto ; 
    float: left; 
    margin-left:300px;
}
.table2 td {
            padding: 20px;
text-align: left;
            border: none;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: red;
            color: yellow;
            text-align: center;
            padding: 10px 0;
        }
